*{

    font-family: "Bona Nova", serif;
}

input.search {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("/assets/search.svg") no-repeat 13px;
}

#nav-a{

    padding: 20px;
    text-decoration: none;


    
}

.banner-heading{
    position: absolute;
    top: 80%;
    left: 50%;
}

.row1{

    display: flex;
    justify-content: center;

}
#image-align{
    justify-content: space-between;
    
}

